.Entry {
    color: white;
    width:95%;
    margin-top:4px;
    margin-left:12px;
    margin-right:12px;
}


.alpha-list{
    margin-top:4px;
    margin-left:12px;
    width :100%;
    padding: "4px";

}
/* Solid border */
hr.solid {
    border-top: 3px solid rgb(59, 59, 59);
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
@media screen and (max-width: 100px) {
    .alpha-list{
        width :80%;
        background-color: #222;
        padding: "4px";
    }
}
